@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./../../public/assets/css/login.css";
@import "./../../public/assets/css/header.css";
@import "./../../public/assets/css/home.css";
:root {
  --background-color: #f2f2f2;
  --color-primary: #407bff;
  --color-secondary: #263238;
  --text-color-secondary: #9e9e9e;
  --size-login-input: 25rem;
}

.bg-primary {
  background-color: var(--background-color);
}

.color-primary {
  color: var(--color-primary);
}

body {
  background-color: var(--background-color);
  font-family: "Open sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 640px) {
  :root {
    --size-login-input: 18rem;
  }
}
